<!DOCTYPE html>
<html>
<head>
<title>
Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

</head>
<body>
<div><h1 align="center"> My Health Dashboard </h1></div><br><br>
<iframe src="https://plot.ly/~linarods13/14.embed?autosize=True&link=false&modebar=false" frameborder="0" scrolling="yes"                           
                                style="height: 245px; 
                                            width: 49%; float: left; border: 1px solid" height="245px" width="49%"
                               align="left" >
                              </iframe>  
	
 <iframe src="https://plot.ly/~linarods13/16.embed?autosize=True&link=false&modebar=false" frameborder="0" scrolling="yes"  
                                    style="overflow: hidden; height: 245px;

                                    width: 49%; border: 1px solid" height="245px" width="49%"                                 
                                     align="right">
                                    </iframe>
									
<br><br><br>
<iframe src="https://plot.ly/~linarods13/18.embed?autosize=True&link=false&modebar=false" frameborder="0" scrolling="yes"                           
                                style="height: 245px; 
                                            width: 49%; float: left; border: 1px solid" height="245px" width="49%"
                               align="left">
                              </iframe>  

 <iframe src="https://plot.ly/~linarods13/20.embed?autosize=True&link=false&modebar=false" frameborder="0" scrolling="yes"  
                                    style="overflow: hidden; height: 245px;

                                    width: 49%; border: 1px solid" height="245px" width="49%"                                 
                                     align="right">
                                    </iframe>
</body>
</html>
